{% extends "update_hospital.html" %}

    {% block head %}
    <!--link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/update_hospital.css') }}"-->

    {% endblock %}

  

        {% block sub %}
    
        <div>
            <h2  style="text-align: center;" >Add  patient</h2>
            

            {% if error %}
                <p><strong>Error:</strong> {{ error }}
            {% endif %} 
            
            {% with messages = get_flashed_messages() %}
         {% if messages %}
            <ul>
               {% for message in messages %}
               <li>{{ message }}</li>
               {% endfor %}
            </ul>
         {% endif %}
        {% endwith %}

            
            <div>
                <form method = 'POST' >
                    <legend>Add patient</legend>
                    {{ form.hidden_tag() }}
                    
                    <div>
                        <br> 
                       {{ form.first_name.label }}<br>
                       {{ form.first_name }}
                       <br>
            
                       <br> 
                       {{ form.last_name.label }}<br>
                       {{ form.last_name }}
                       <br>
            
                       <br> 
                       {{ form.dob.label }}<br>
                       {{ form.dob }}
                       <br>
            
                       <br> 
                       {{ form.unique_id.label }}<br>
                       {{ form.unique_id }}
                       <br>
            
                       <br> 
                       {{ form.gender.label }}<br>
                       {{ form.gender }}
                       <br>
            
                       <br> 
                       {{ form.test_result.label }}<br>
                       {{ form.test_result }}
                       <br>
                       
                   
                       <br>
                       {{ form.submit }}
                    </div>        
                </form>     
            </div>




            

        </div>
        
        <a class="btn btn-outline-primary mr-1" href="{{url_for('update_hospital',hospital_id = hospital_id)}}" role="button">Return to Home</a>
        {% endblock %}
    


