{% extends "update_hospital.html" %}
    {% block div_css1 %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/add_patient.css') }}">
    {% endblock %}

        {% block sub %}  
        <div class = "wrapper">
            {% if error %}
                <p><strong>Error:</strong> {{ error }}
            {% endif %}            
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul>
                    {% for message in messages %}
                    <h4 style="font-size: 20px;font-family:'Lucida Console';color:#46ac42;">{{ message }}</h4>
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
            <div class="container-form">
                <h2>Add patient</h2>
                <form method = 'POST' autocomplete="off">
                    {{ form.hidden_tag() }}                
                    {{ form.first_name(class_="form-control") }}
                    {{ form.last_name(class_="form-control") }}     
                    {{ form.dob(class_="form-control") }}     
                    {{ form.unique_id(class_="form-control") }}  
                    {{ form.gender(class_="form-control") }}  
                    {{ form.test_result(class_="form-control") }}                
                    {{ form.submit(class_="button") }}
                </form>
            </div>
            <div style="padding-top:30px ;">
                <a class="btn btn-danger mr-1" href="{{url_for('update_hospital',hospital_id = hospital_id)}}" role="button">Return to Home</a>
            </div>
        </div>
        {% endblock %}
    


