{% extends "home.html" %}

    {% block head %}
    <!--link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/hospitals.css') }}"-->

    {% endblock %}

    {% block content %}

    <h2  style="text-align: center;" >Welcome {{ username.title() }} </h2>
    <br>
    <br>
    
    


   
                        
                {% for item in hospital_list %} 
                <div class="row d-flex justify-content-center mb-sm-5">
                    <a class="btn btn-outline-primary mr-1 " href="{{url_for('update_hospital',hospital_id=item['pk'])}}" role="button">{{ item['name'] }}</a>            
                </div>
                {% endfor %}
                            
                    



    <!--form method="POST" action="/addpatient">
        <input type="submit" value="Add Patient Details" name="addP"/>
    </form>
    <br>
    <br>
    <form method="POST" action="/updpatientstatus">
        <input type="submit" value="Update Patient status" name="updPS"/>
    </form>
    <br>
    <br>
    <form method="POST" action="/updHospDetails">
        <input type="submit" value="Update Hospital Details" name="updHD"/>
    </form>
    <br>
    <br>
    <form method="POST" action="/vaccinationStatus">
        <input type="submit" value="Update vaccination status" name="updVS"/>
    </form>
    <br>
    <br>
    <form method="POST" action="/">
        <input type="submit" value="Return to Dashboard" name="LogOut"/>
    </form-->
    
    {% endblock %}