{% extends "hospitals.html" %}

    {% block div_css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/details.css') }}">
    {% endblock %}

    {% block div %}
    <div class="container">
        <h2  style="text-align:center;padding-bottom: 100px ;font-family:'Lucida Console';color:#e9dfdf;" >Welcome {{ username.title() }} </h2>  
        {%if hospital_list %}   
        <div class="container-form">
            <h5 style="text-align:center;padding-bottom: 40px;font-family:'Lucida Console';color:#649cdc;" >Choose Hospital</h5>    

            {% for item in hospital_list %} 
                <div class="row d-flex justify-content-center mb-sm-5">
                    <a class="btn btn-primary" href="{{url_for('update_hospital',hospital_id=item['pk'])}}" role="button">{{ item['name'].title() }} Hospital</a>            
                </div>
            {% endfor %}
        {% else %}        
            <h4 style="text-align:center;padding-bottom: 40px;font-family:'Lucida Console';color:#a55454;" >No hospital is assigned to you currently..</h4> 
        {% endif %}  
    </div>
    </div>                          
    {% endblock %}