{% extends "update_hospital.html" %}
    {% block div_css1 %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/hospital_beds.css') }}">
    {% endblock %}

    {% block sub %}
    <div class = "wrapper">
        <div class="container-form">
            <h3 style="text-align: center;color:#7d837d;">Hospital bed information</h3>           
            <div class="row" style="justify-content: center;">
                <div class="col-xs-3" id="labels" style="padding-right:30px ;" >
                    <div class="labels">
                        <h6>Total number of beds in the Hospital : </h6>
                        <h6>Total number of ICU beds in the Hospital :</h6>   
                    </div>
                </div>              
                <div class="col-xs-3" style="padding-left:30px ;" id="data">
                    <div class="data">
                        <h6>{{ total_capacity}}</h6>
                        <h6>{{ icu_beds}}</h6> 
                    </div>  
                </div>   
            </div>
            <form class ="form-control" method = 'POST' autocomplete="off">
                {{ form.hidden_tag() }}              
                <h6 style="text-align: center;font-family:'Lucida Console';color:#1b1818;">Update Hospital Beds Info</h6>               
                {{ form.total_capacity(class_="form-control") }}
                {{ form.icu_beds(class_="form-control") }}               
                {{ form.submit(class_="button-submit") }}
            </form>
        </div>
    </div>
    <div style="padding-top:30px ;">
        <a class="btn btn-danger mr-1" href="{{url_for('update_hospital',hospital_id = hospital_id)}}" role="button">Return to Home</a>
    </div>
    {% endblock %}
    
 