{% extends "home.html" %}

    {% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/hospitals.css') }}">

    {% endblock %}

    {% block content %}

    

    <h2  style="text-align: center;" >Welcome!</h2>
    <br>
    <br>
    <div class="d-flex justify-content-center">
        <a class="btn btn-outline-primary mr-1" href="/adduser" role="button">Add User</a>
        <a class="btn btn-outline-primary mr-1" href="/addhosp" role="button">Add Hospital</a>
        <a class="btn btn-outline-primary mr-1" href="/" role="button">Logout</a>
    </div>
    <br>
    <br>
    <div class="container">
        <div class="row">
            

            <div class="col">
                <div style="text-align: center;" >
                    <table class="table css-serial" style="margin-left:auto;margin-right:auto;padding: 5px;border-spacing: 25px;" >
                        <thead>
                        <tr>
                            <th scope="col">ID</th>
                    
                            <th scope="col">Username</th>
                        </tr>
                        </thead>
                        
                        {% for key,value in user_df.iterrows() %}               
                        <tr>
                            <td></td>
                            <td>{{ value['name'] }}</td>                            
                            <td><a href="{{url_for('DeleteUser',userid=value['pk'])}}" class="btn btn-outline-primary" role="button"><span class="bi bi-trash"></span></a></td>
                            
                        </tr>
                        {% endfor %}
                            
                    </table>
                </div>
            </div>


                
            <div class="col">
                <div style="text-align: center;" >
                    <table class="table css-serial"style="margin-left:auto;margin-right:auto;padding: 5px;border-spacing: 25px;" >
                        <thead>
                        <tr>
                            <th scope="col">ID</th>
                    
                            <th scope="col">HospitalName</th>
                    
                            <th scope="col">ContactNumber</th>

                            <th scope="col">User</th>
                        </tr>
                        </thead>
                        
                        {% for key,value in hospital_df.iterrows() %} 
                            {% if value['is_deleted'] == False %}              
                            <tr>
                                
                                <td></td>
                                <td>{{ value['name'] }}</td>
                                <td>{{ value['contact'] }}</td>
                                <td>{{ value['user'] }}</td>      
                                <td><a href="{{url_for('DeleteHospital',hospid=value['pk'])}}" class="btn btn-outline-primary" role="button"><span class="bi bi-trash"></span></a></td>

                               
                            </tr>
                            {% endif %}
                        {% endfor %}
                            
                    </table>
                </div>
            </div>
            

            
        
                <br>
                <br>
                <br>
            </div>
        </div>    
    


    
    
    {% endblock %}



    