{% extends "home.html" %}

    {% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/hospitals.css') }}">

    {% endblock %}

    {% block content %}

    

    <h2  style="text-align: center;" >Welcome!</h2>
    <br>
    <br>
    <div class="d-flex justify-content-center">
        <a class="btn btn-outline-primary mr-1" href="/adduser" role="button">Add User</a>
        <a class="btn btn-outline-primary mr-1" href="/addhosp" role="button">Add Hospital</a>
        <a class="btn btn-outline-primary mr-1" href="/" role="button">Logout</a>
    </div>
    <br>
    <br>
    



            <div class="row col-md-12 padding-0">
                
                <div class="table-responsive col-md-6">
                    <h2 class="sub-header" style="text-align:center;">Admins</h2>
                    <table class="table css-serial "  >
                        <thead>
                        <tr>
                            <th scope="col">Sl No</th>
                    
                            <th scope="col">Admin Name</th>
                        </tr>
                        </thead>
                        {% if user_list%}
                        {% for key,value in user_df.iterrows() %}               
                        <tr>
                            <td></td>
                            <td>{{ value['name'] }}</td>                            
                            <td><a href="{{url_for('DeleteUser',userid=value['pk'])}}" class="btn btn-outline-primary" role="button"><span class="bi bi-trash"></span></a></td>
                            
                        </tr>
                        {% endfor %}
                        {% endif %}
                            
                    </table>
                </div>
                <div class="table-responsive col-md-6">
                    <h2 class="sub-header" style="text-align:center;">Hospitals</h2>
                    <table class="table css-serial" >
                        <thead>
                        <tr>
                            <th scope="col">Sl No</th>
                    
                            <th scope="col">Hospital Name</th>
                    
                            <th scope="col">Contact Number</th>

                            <th scope="col">Admin</th>
                        </tr>
                        </thead>
                        {% if hospital_list%}
                        {% for key,value in hospital_df.iterrows() %} 
                            {% if value['is_deleted'] == False %}              
                            <tr>
                                
                                <td></td>
                                <td>{{ value['name'] }}</td>
                                <td>{{ value['contact'] }}</td>
                                <td>{{ value['user'] }}</td>      
                                <td><a href="{{url_for('DeleteHospital',hospid=value['pk'])}}" class="btn btn-outline-primary" role="button"><span class="bi bi-trash"></span></a></td>

                               
                            </tr>
                            {% endif %}
                        {% endfor %}
                        {% endif %}   
                    </table>
                </div>
              </div>



    
    
    {% endblock %}



    