<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient update</title>
</head>
<body style="background-color:#888;">
    <h2  style="text-align: center;" >Welcome to the {{ Hospital_Name.title() }} Hospital portal</h2>

    <form method = 'POST' >
        <legend>Login</legend>
        {{ form.hidden_tag() }}

                
        <div>
           {{ form.Fname.label }}<br>
           {{ form.Fname }}
           <br>
           
           {{ form.Lname.label }}<br>
           {{ form.Lname }}
           <br>

           {{ form.DOB.label }}<br>
           {{ form.DOB }}
           <br>
       
           <br>
           {{ form.submit }}
        </div>  


        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}

    
</body>
</html>