{% extends "update_hospital.html" %}
    {% block div_css1 %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/update_patient.css') }}">
    {% endblock %}
  
        {% block sub %}  
        <div class = "wrapper">
            {% if error %}  
                <h2><strong>Error</strong>: {{error}}</h2>  
            {% endif %}
            <div class="container-form">
                <h4 style="text-align:center; color:#d9d5d4;font-family:'Lucida Console';">Enter Unique ID</h4>
                <form method = 'POST' autocomplete="off">
                    {{ form.hidden_tag() }}                
                    {{ form.unique_id(class_="form-control") }}               
                    {{ form.submit(class_="button") }}
                </form>
            </div>
            <div style="padding-top:30px ;">
                <a class="btn btn-danger" href="{{url_for('update_hospital',hospital_id = hospital_id)}}" role="button">Return to Home</a>
            </div>
        </div>
        {% endblock %}
    