* {
    box-sizing: border-box;
}

.wrapper {
    background-color: #28292b;
    border-radius: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow:visible;
    margin: 0;
    max-width: 100%; 
    height: 100%;
    padding-top: 50px;
}

.container-form {
    background-color: #222;
    padding: 20px 40px;
    border-radius: 5px;
    width: 300px;
    flex-grow: 1;  
    overflow: auto;
    min-height: 0;
}

.container-form h2 {
    text-align: center;
    margin-bottom: 30px;
}

.container-form a {
    text-decoration: none;
    color: lightblue;
}

.form-control {
    position: relative;
    margin: 20px 0 40px;
    width: 100%;
    height: auto;

}



.button {
    cursor: pointer;
    display: inline-block;
    width: 100%;
    background: rgb(168, 64, 64);
    padding: 0rem;
    font-family: inherit;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    height: 50%;
    color: rgb(223, 214, 214);
    font-family: Lucida Console;
}

.buttont:active {
    transform: scale(0.98);
}

.text {
    margin-top: 30px;
    text-align: center;
}

