* {
    box-sizing: border-box;
}

.wrapper {
    background-color: #28292b;
    color: #fff;
    font-family: Lucida Console;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.container-sub {
    background-color: #222;
    padding: 20px 40px;
    border-radius: 5px;
    width: 300px;
}

.container-sub h2 {
    text-align: center;
    margin-bottom: 30px;
}

.container-sub a {
    text-decoration: none;
    color: lightblue;
}

.form-control {
    position: relative;
    margin: 20px 0 40px;
    width: 100%;

}



.button {
    cursor: pointer;
    display: inline-block;
    width: 100%;
    background: rgb(168, 64, 64);
    padding: 1rem;
    font-family: inherit;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    height: 30%;
    color: rgb(223, 214, 214);
    font-family: Lucida Console;
}

.buttont:active {
    transform: scale(0.98);
}

.text {
    margin-top: 30px;
    text-align: center;
}