* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: Bahnschrift Light;  
}

.container { 
    position:absolute; 
    width:100% 
}

.app {
	display: flex;
	min-height: 100vh;
}

.menu-toggle {
	display: none;
	position: fixed;
	top: 2rem;
	right: 2rem;
	width: 3.5rem;
	height: 3.5rem;
	border-radius: 6rem;
	background-color: #2e3047;
	cursor: pointer;
}

.hamburger {
	position: relative;
	top: calc(50% - 2px);
	left: 50%;
	transform: translate(-50%, -50%);
	width: 2rem;
}

.hamburger > span,
.hamburger > span::before,
.hamburger > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 0.25rem;
  border-radius: 6rem;
  background-color: #FFF;
  transition-duration: .25s;
}

.hamburger > span::before {
  content: '';
  top: -0.5rem;
}
.hamburger > span::after {
  content: '';
  top: 0.5rem;
}
.menu-toggle.is-active .hamburger > span {
  transform: rotate(45deg);
}
.menu-toggle.is-active .hamburger > span::before {
  top: 0;
  transform: rotate(0deg);
}
.menu-toggle.is-active .hamburger > span::after {
  top: 0;
  transform: rotate(90deg);
}

.sidebar {
	flex: 1 1 0;
	max-width: 19rem;
	padding: 2rem 1rem;
	background-color: #222224;
    position: relative;   
    float: left;
}

.sidebar h2 {
	color: #707793;
	font-size: 1rem;
	text-transform: uppercase;
	margin-bottom: 5em;
    position: fixed;
}

.sidebar .menu {
	margin: 3em -1rem;
    position: fixed;
    font-family: Bahnschrift Light;
}

.sidebar .menu .menu-item {
	display: block;
	padding: 1em;
	color: rgb(214, 212, 212);
	text-decoration: none;
	transition: 0.2s linear;    
}

.sidebar .menu .menu-item:hover,
.sidebar .menu .menu-item.is-active {
	color: #3bba9c;
	border-right: 0.3rem solid #3bba9c;
}

.sidebar .menu .menu-item:hover {
	border-right: 0.3rem solid #3bba9c;
}

.sidebar .btn {	
	position: fixed;
    bottom: 0.625rem;
    left: 0.625rem;
    display: flex;
}

.content {
	flex: 1 1 0;
	padding: 2rem;
    background-color: #28292b;
    display: inline; 
    font-family: Century Gothic;   
}

.content h2 {
	color: #c2c4d9;
	font-size: 2rem;
	margin-bottom: 1rem;
}

.content .confirmed{
    width :40%;    
}
.content .active{
    width :40%;   
}
.content .recovered{
    width :40%;    
}
.content .deceased{
    width :40%;   
}

.content p {
	color: #707793;
}

.test {
	position: relative;
	width: 700px;
	height: 700px;
	background-color: #222;
    margin:0 auto;
}

.test_summary .block {
    padding: 0 1rem;
    flex: 0 0 calc(100% / 3);
    max-width: calc(100% / 3);
    text-align: center;
    margin: 1rem 0;
    border-width: 4px;
    border-bottom: 5px #28292b solid;
    

}
.test_summary {
    display: flex;
    width: 100%;
}

.gender {
	position: relative;
	width: 700px;
	height: 650px;
	background-color: #222;
    margin:0 auto;
}

.gender_summary .box {
    padding: 1rem 1rem;
    flex: 0 0 calc(100% / 2);
    max-width: calc(100% / 2);
    text-align: center;
    margin: 1rem 0;
}
.gender_summary {
    display: flex;
    width: 100%;
}

.vaccine {
	position: relative;
	width: 700px;
	height: auto;
	background-color: #222;
    margin:0 auto;  
}

.total_vaccine .total {
    padding: 0 1rem;
    text-align: center;
    margin: 1rem 0;
    height: 100%;
    position: relative;
    width: 100%;
    border-width: 4px;
    border-bottom: 5px #28292b solid;
}
.total_vaccine {
    display: flex;
    width: 100%;    
}

.dose_summary .dose {
    padding: 0 1rem;
    flex: 0 0 calc(100% / 3);
    max-width: calc(100% / 3);
    text-align: center;
    margin: 1rem 0;
    height: 100%;
    position: relative;
}

.dose_summary {
    display: flex;
    width: 100%;    
}





.highcharts-container {
    margin: 0 auto;
  }

.css-serial {
    counter-reset: serial-number; /* Set the serial number counter to 0 */
   }
.css-serial td:first-child:before {
    counter-increment: serial-number; /* Increment the serial number counter */
    content: counter(serial-number); /* Display the counter */
   }

.my-custom-scrollbar {
    position: relative;
    height: 200px;
    width: 700px;
    overflow: auto;
    margin: 0 auto;    
    }

.my-custom-scrollbar thead th {
        position: sticky;
        top: 0;
        background-color: #222;
      }    
.table-wrapper-scroll-y {
    display: block;
    }



@media (max-width: 1024px) {
	.sidebar {
		max-width: 12.5rem;
	}
}

@media (max-width: 768px) {
	.menu-toggle {
		display: block;
	}
	.content {
		padding-top: 2.5rem;
        width:100%;
        
	}
    .highcharts-container {
        margin: 0 auto;
        display: inline-block;
      }
	.sidebar {
		position: fixed;
		top: 0;
		left: -300px;
		height: 100vh;
		width: 100%;
		max-width: 19rem;
		transition: 0.2s linear;
	}
	.sidebar.is-active {
		left: 0;
	}
    .sidebar .btn {	
        position: absolute;        
    }
    .sidebar .menu {
        position: absolute;
    }
}

